body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  color: blue;
}

.one {
  color: brown;
}

.two {
  color: blueviolet;
}
